.centre-container{
  width: 1040px;
  height: 870px;
  padding: 20px;
  // margin-left: 10px;
  .map-box{
    box-sizing: border-box;
    height: 620px;
    padding: 20px;
    background-color: RGBA(27, 37, 77, 0.5);
    backdrop-filter: blur(5px);

    .title-bar{
      position: relative;
      text-align: center;
      .title{
        font-size: 27px;
        color: #FEFEFE;
      }
      img{
        cursor: pointer;
        width: 40px;
        position: absolute;
        top: 0;
        right: 0;
        &:hover{
          opacity: 0.6;
        }
      }
    }

    .map{
        margin-top: 35px;
        width: 100%;
        border: 1px solid #FDFDFD7f;
        height: 87%;
    }
  }
  .table{
    margin-top: 10px;
    background-color: RGBA(27, 37, 77, 0.5);
    backdrop-filter: blur(5px);
    padding: 10px 1px;
    border: none;

  }
  .footer{
    font-size: 16px;
    color: #FDFDFD;
    margin-top: 5px;
    text-align: center;
    span{
      &:first-child{
        margin-right: 30px;
      }
    }
  }
}