.rightBox_keyAreas{
  img{
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  .subsidenceAreaEchart_box{
    height: 180px;
  }
  .trendSettlementEchart_box{
    height: 200px;
  }
}
.leftBox_keyAreas{
}

