.left-container{
  width: 480px;
  // height: 100%;
  background: linear-gradient(90deg, #00113C 0%, rgba(1,18,61,0.3000) 100%);
  box-sizing: border-box;
  padding: 12px 24px;
  backdrop-filter: blur(5px);
  .plough-box{
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #0B2860 0%, rgba(11,40,96,0.5000) 100%);
    .row{
      cursor: pointer;
      padding: 10px 5px 10px 10px;
      font-size: 21px;
      color: #FDFDFD;
      display: flex;
      align-items: center;
      border-bottom:1px solid #1B4C9C ;
      &:last-child{
        border-bottom:none ;
      }
      &:hover{
        background: linear-gradient(90deg, #0943B3 0%, rgba(9,74,198,0.5000) 100%);
      }
      .cell{
        display: flex;
        align-items: center;
        .icon{
          width: 50px;
        }
        .title{
          font-size: 21px;
          color: #FFC000;
        }
      }
      .type-box{
        margin-bottom: 10px;
        font-family: Microsoft YaHei;
        display: flex;
        align-items: flex-end;
        .type{
          font-size: 15px;
          color: #FFFFFF;
          margin-right: 8px;
          line-height: 15px;
        }
        .amount{
          font-size: 28px;
          line-height: 20px;
        }
      }
      .eye{
        width: 26px;
      }
    }
    .td{
      padding: 17px 0px 17px 16px;
      font-family: Microsoft YaHei;
      border-top:1px solid #1B4C9C;
    }
    .processed{
      color: #FFC000;
    }
    .pending{
      color:#C5DB00
    }
    .beingProcessed{
      color:#E47508
    }
    .review{
      color:#00DB54
    }
  }
  .construction_target-box{
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #0B2860 0%, rgba(11,40,96,0.5000) 100%);
    padding: 10px;
    .high_standard_farmland{
      font-size: 21px;
      color: #FFFFFE;
      .count{
        color: #C5DB00;
      }
    }
    .proportion-type{
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      .item{
        font-size: 18px;
        color: #FFFFFE;
        text-align: center;
        p{
          &:last-child{
            color: #ECDD0E;
            margin-top: 5px;
          }
        }

      }
    }
  }
  .data_share{
    margin-top: 10px;
    margin-bottom: 7px;
    background: linear-gradient(90deg, #0B2860 0%, rgba(11,40,96,0.5000) 100%);
    padding-top: 10px 0;
    .box-name{
      padding: 20px 0 10px 0;
      text-align: center;
      font-size: 24px;
      color: #F4F4F5;
    }
  }
}


.mt-20{
  margin-top: 20px;
}
.mb-5{
  margin-bottom: 5px;
}
.pt-10{
  padding-top: 10px;
}

.bt{
  border-top: 1px solid #1B4C9C;
}