
.sinking_left{
  .subsidence_risk_prediction{
    margin-top: 5px;
    overflow: hidden;
    .threat_level{
      position: relative;
      img{
        top: -20px;
        position: absolute;
      
      }
      height: 230px;
      .unit{
        position: absolute;
        left: 30px;
        top: 25px;
        z-index: 999;
        color: #fff;
        font-size: 11px;
        opacity: 0.9;
        font-weight: 300;
      }
    }

    .subsidence_area{
      position: relative;
      .chart-box{
        position: relative;
        height: 250px;
      }
      .doughnut_chart{
        width: 250px;
        height: 250px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -125px;
        margin-left: -126px;
        animation: rotate 4.5s linear 1s  infinite;

      }
    }
  }
  .middle{
    // margin-top: 0px;
    margin-bottom: 15px;
    position: relative;
    .honeycomb_icon{
      cursor: pointer;
      width: 91.99px;
      height: 79.67px;
    }
    .danger{
      position: absolute;
      top: 120px;
      left:30px
    }
    .steady{
      position: absolute;
      top: 158px;
      left: 97px;
      z-index: 999;
    }
    .fluctuate{
      position: absolute;
      top: 120px;
      left: 165px;
    }
    .img{
      width: 100%;
    }
    
    .threat_level{
      position: relative;
      height: 230px;
      .unit{
        position: absolute;
        left: 30px;
        top: 25px;
        z-index: 999;
        color: #fff;
        font-size: 11px;
        opacity: 0.9;
        font-weight: 300;
      }
    }
  }
  
}


.sinking_right{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden scroll ;
  @include hidden-scroll();
  .table_box{
    img{
      width: 100%;
      margin-bottom: 10px;
    }
    .announcement_table{
      // height: 150px !important;
      height: 16vh;
      min-height: 100px !important;
    }
  }
  .event_processing_sinking{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    img{
      top: -25px;
      position: absolute;
      width: 100%;
    }
    // height: 250px;
    min-height: 220px !important;
    height: 25vh;
  }
}

.box{
   width: 500px;
   height: 600px; 
   background-color: #fff;
   .dialogTitle{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color:#000;
    border-bottom: 1px solid #aaaaaa;
   }
   .dialogContentText{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color:rgba(0,0,0,0.6)
   }
}