
.sinking_left{
  .subsidence_risk_prediction{
    .threat_level{
      position: relative;
      img{
        top: -20px;
        position: absolute;
      
      }
      height: 230px;
      .unit{
        position: absolute;
        left: 30px;
        top: 25px;
        z-index: 999;
        color: #fff;
        font-size: 11px;
        opacity: 0.9;
        font-weight: 300;
      }
    }

    .subsidence_area{
      position: relative;
      left: 0;
      .chart-box{
        position: relative;
        height: 250px;
        overflow: hidden;
      }
      .doughnut_chart{
        width: 255px;
        height: 255px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -127.5px;
        margin-left: -127.5px;
        animation: rotate 4.5s linear 1s  infinite;

      }
    }
  }
  .middle{
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
    .left{
      position: relative;
      left: 0;
      .legend{
        // margin-top: 20px;
        position: absolute;
        right: 0;
        top: 45px;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        span{
          position: relative;
          color: #C3C7C7;
          font-size: 12px;
          margin-left: 20px;
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          &::before{
            position: absolute;
            left: -12px;
            // top: 5px;
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            z-index: 2;
            background-color: var(--bgColor);
          }
        }
      }
      .hexagonModule{
        margin-top: 60px;
      }
    }
    .honeycomb_icon{
      cursor: pointer;
      width: 91.99px;
      height: 79.67px;
    }
    .danger{
      position: absolute;
      top: 120px;
      left:30px
    }
    .steady{
      position: absolute;
      top: 158px;
      left: 97px;
      z-index: 999;
    }
    .fluctuate{
      position: absolute;
      top: 120px;
      left: 165px;
    }
    .img{
      width: 100%;
    }
    
    .threat_level{
      position: relative;
      height: 230px;
      .unit{
        position: absolute;
        left: 30px;
        top: 25px;
        z-index: 999;
        color: #fff;
        font-size: 11px;
        opacity: 0.9;
        font-weight: 300;
      }
    }
  }
  
}


.sinking_right{
  .mb-10{
    margin-bottom: 10px;
  }
  .table_box{
    .announcement_table{
      height: 16vh;
      min-height: 100px !important;
    }
  }
  .event_processing_sinking{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    img{
      top: -25px;
      position: absolute;
      width: 100%;
    }
    // height: 250px;
    min-height: 220px !important;
    height: 25vh;
  }
}
