.header{
  height: 80px;
  background: #18418E !important;
  box-shadow: 0px 0px 24px 4px rgba(26,28,37,0.5000) !important;
  .bar{
    position: relative;
    display: flex;
    justify-content: center;
    height: 1rem;
    img{
      width: 1044px;
      height: 93px;
    }
    .font-box{
      position: absolute;
      top: 0;
      text-align: center;
      width: 12.8rem;
      overflow: hidden;
      white-space: nowrap;
      font-family: Adobe Heiti Std;
      font-weight: normal;
      color: #FEFEFE;
      z-index: 1000;
      .title-box{
        margin-top: 18px;
        .title{
          font-size: 40px;
          font-style: italic;
          margin-right: .25rem;
        }
        .title-sub{
          font-size: 20px;
          font-style: italic;
        }
      }
      
      .place{
        font-size: 20px;
        color: #EACC50;
        margin-top: .0625rem;
      }
    }

  }
}