.titleBar{
  box-sizing: border-box;
  border-bottom: 1px solid  #F4E753;
  color: #FEFEFE;
  padding: 5px;
  .icon{
    width: 32px;
    vertical-align: bottom;
    margin-right: 5px;
  }
  .newIcon{
    width: 26px ;
    vertical-align: bottom;
    margin-right: 5px;
  }
  .title{
    font-size: 28px;
  }
  .newTitle{
    font-size: 21px;
  }
  .sub{
    font-size: 13px;
    margin-left: 8px;
  }
  .operate{
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 300;
    float: right;
    margin-top: 13px;
    // transform: scale(0.9);
  }
}