
.waterlogging_left{
  margin-top: 5px;
  .water_acreage,.precipitation{
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
   
  }
  .water_acreage{
    margin-top:20px;
    margin-bottom: 20px;
    position: relative;
    .month{
      position: absolute;
      top: 60px;
      left:20px;
      z-index: 999;
      color: #FFFFFF;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      .leftArrows,.rightArrows{
        width: 15px;
        height: 15px;
        cursor: pointer;
        opacity: 0.9;
        &:hover{
          opacity: 0.7;
        }
      }
      .rightArrows{
        transform: rotate(180deg);
      }
      span{
        margin:0 10px ;
      }
    }
  }
  .top{
    .right{
      position: relative;
      .honeycomb_icon{
        cursor: pointer;
        width: 97px;
        height: 85px;
      }
      .danger{
        position: absolute;
        top: 100px;
        left: 30px;
      }
      .steady{
        position: absolute;
        top:142px;
        left: 101px;
        z-index: 999;
      }
      .fluctuate{
        position: absolute;
        top: 100px;
        left: 173px;
      }
    }
    
    img{
      width: 100%;
    }
    .device-item{
      width: 79.67px;
      height: 91.99px;
      // background-image: url('../../assets/iamge/charts/device_icon.png');
      // background-size: 100% 100%;
    }
  }
  .well_lid{
    position: relative;
    img{
      width: 100%;
    }
    .table-class{
      height: 170px;
    }
  }

  /* 开关按钮 */
  .switch{
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    align-items: center;
    >span{
      font-size: 12px;
      color: #FFFFFF;
      margin-right: 10px;
    }
  }

  .check{
    width: 300px;
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 30px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #044D8D;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
  
    &:hover{
      opacity: 0.8;
    }
  }
}

.waterlogging_right{
  .table_box{
    img{
      width: 100%;
      margin-bottom: 10px;
    }
    .announcement_table{
      height: 150px !important;
    }
  }
  
  .event_processing_waterlogging{
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    img{
      top: -25px;
      position: absolute;
      width: 100%;
    }
    height: 310px;
  }
}