.float_frame-container{
  width:500px;
  // height: 820px;
  height: 88vh;
  background: #001F52;
  border-radius: 4px ;
  box-sizing: border-box;
  padding: 20px 15px 20px 15px;
  backdrop-filter: blur(10px);
  overflow: auto;
  white-space: nowrap;
  //  overflow-y: hidden;
   /* 隐藏滚动条 */
 @include hidden-scroll();
  position: absolute;
  top: 65px;
  z-index: 999;
}

.left{
  left: 30px;
}
.right{
  right: 30px;
}
// @media screen and (max-width:1500px) {
//   .float_frame-container{
//     width: 400px;
//   }
// }