.float_frame-container{
  width:655px;
  height: 931px;
  background: #001F52;
  border-radius: 4px ;
  box-sizing: border-box;
  padding: 20px 15px 5px 15px;
  backdrop-filter: blur(10px);
  overflow: auto;
  white-space: nowrap;
  //  overflow-y: hidden;
   /* 隐藏滚动条 */
   scrollbar-width: none; /* firefox */
   -ms-overflow-style: none; /* IE 10+ */
   &::-webkit-scrollbar {
  display: none; /* Chrome Safari */
  }


}
// @media screen and (max-width:1500px) {
//   .float_frame-container{
//     width: 400px;
//   }
// }