.table-box{
  background-color: rgba(0,17,60,0.5);
  backdrop-filter: blur(3px);
  padding: 10px;
  .table-box-bar{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    img{
      cursor:pointer;
      width: 20px;
      margin-bottom: 20px;
    }
  }

  .container{
    max-height: 800px;
    overflow: auto;
    .table{
      border:1px solid #307ff47F;
      tr,td,th{
        color: #FDFDFD;
        text-align: center;
        padding: 10px 2px;
        font-size: 18px;
        background-color: transparent;
      }
      tr,td{
        border:2px solid #307ff47F;
      }
      .tr{
        th{
          font-size: 20px;
          font-weight: bold;
        }
      }
      
      .date{
        font-size: 16px;
      }
    }
  }

}

